.main-auth {
    position: fixed;
    background: orange;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    .ng-invalid.ng-touched,
    .ng-invalid.ng-dirty{
       border:  2px solid red ;
    }

    label{
        font-weight: 700;
    }
}

.password-wrapper{
    position: relative;

    input{
        padding-right: 40px;
    }

    .toggle-icon{
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #666;
        user-select: none;
    }
}