<div class="row">
    <div class="col-12 text-right mt-4">
        <button routerLink="addProduct" class="btn btn-outline-primary">Add Product</button>
    </div>

    <div class="col-md-4" *ngIf="getProductsArr.length > 0; else noProducts">
        <ul class="list-group">
            <li class="list-group-item"
                [routerLink]="[product.pid]" 
                [queryParams]="{cr : product.canReturn}"
             *ngFor="let product of getProductsArr; trackBy: trackByFun">
                {{product.pname}} 
                <small class="badge"  [ngClass]="{
                'badge-primary' : product.pstatus === 'Dispatched',
                'badge-success' : product.pstatus === 'Delivered',
                'badge-warning' : product.pstatus === 'In-Progress'
              }">
                    {{product.pstatus}}
                </small>
            </li>
        </ul>
    </div>
    <ng-template #noProducts>
        <p class="alert alert-info">
            No Products !!!
        </p>
    </ng-template>

    <div class="col-md-8">
        Product Details
    </div>
</div>